In [2]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(open("lalala.html"), "html.parser")

In [11]:
#soup.find_all(class_="_1s5t6bf8")

import pandas as pd

data = open('airbnb.txt','r')
data1 = pd.DataFrame(data)
data1

                                                      0
0        Navigate forward to access suggested results\n
1                                                    \n
2                                            Show Map\n
3                           outdoor sports · Sukasada\n
4              Slide, jump, swim in 5 Bali waterfalls\n
...                                                 ...
3656                                              (2)\n
3657               culture walk · Kecamatan Blahbatuh\n
3658                 Spectacular waterfall and temple\n
3659                                                 \n
3660      From ₱3,706/person · 14 hours · Transporta...

[3661 rows x 1 columns]

In [14]:
data1[data1.index % 8 == 0]

                                                   0
0     Navigate forward to access suggested results\n
8                                             4.96\n
16                                            4.84\n
24                                            4.94\n
32                                             4.9\n
...                                              ...
3624                                              \n
3632                                           (1)\n
3640                                           (4)\n
3648                                           (4)\n
3656                                           (2)\n

[458 rows x 1 columns]